<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>薬局質問管理システム</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div id="header"></div>

    <main>
        <div class="top-title">
            <h2>回答一覧</h2>
        </div>

        <div class="answers-container">
            <div class="result">
                <div class="text">
                    <p>生年月日：2015-2-10 - 新規患者</p>
                    <p>回答日時：2025-1-30 10:36:35</p>
                    <p>・氏名：〇〇</p>
                    <p>・フリガナ：〇〇</p>
                    <p>・住所：〇〇〇〇〇〇〇〇</p>
                    <p>・電話番号：〇〇〇〇</p>
                    <p>・性別：〇</p>
                    <p>・受診理由：〇〇〇〇</p>
                    <p>・既往歴/現病歴：〇〇〇〇</p>
                    <p>・アレルギー：〇〇〇〇</p>
                    <p>・副作用の有無：〇</p>
                    <p>・副作用の詳細：〇〇〇〇</p>
                </div>
                <div class="operation-btn-container">
                    <button class="operation-btn">この回答を印刷する</button>
                    <button class="operation-btn">削除</button>
                </div>
            </div>
            <div class="result">
                <div class="text">
                    <p>生年月日：2001-6-1 - 新規患者</p>
                    <p>回答日時：2025-1-30 15:40:10</p>
                    <p>・氏名：〇〇</p>
                    <p>・フリガナ：〇〇</p>
                    <p>・住所：〇〇〇〇〇〇〇〇</p>
                    <p>・電話番号：〇〇〇〇</p>
                    <p>・性別：〇</p>
                    <p>・受診理由：〇〇〇〇</p>
                    <p>・既往歴/現病歴：〇〇〇〇</p>
                    <p>・アレルギー：〇〇〇〇</p>
                </div>
                <div class="operation-btn-container">
                    <button class="operation-btn">この回答を印刷する</button>
                    <button class="operation-btn">削除</button>
                </div>
            </div>
            <div class="result">
                <div class="text">
                    <p>生年月日：1982-9-9 - 久しぶり</p>
                    <p>回答日時：2025-1-31 11:05:30</p>
                    <p>・性別：〇</p>
                    <p>・受診理由：〇〇〇〇</p>
                    <p>・既往歴/現病歴：〇〇〇〇</p>
                    <p>・アレルギー：〇〇〇〇</p>
                    <p>・副作用の有無：〇</p>
                    <p>・副作用の詳細：〇〇〇〇</p>
                </div>
                <div class="operation-btn-container">
                    <button class="operation-btn">この回答を印刷する</button>
                    <button class="operation-btn">削除</button>
                </div>
            </div>
        </div>

        <div class="answers-container">
            <div class="result">
                <div class="text">
                    <p>生年月日：1999-3-2 - 継続患者</p>
                    <p>回答日時：2025-1-31 17:30:35</p>
                    <p>・性別：〇</p>
                    <p>・受診理由：〇〇〇〇</p>
                    <p>・既往歴/現病歴：〇〇〇〇</p>
                    <p>・アレルギー：〇〇〇〇</p>
                    <p>・副作用の有無：〇</p>
                    <p>・副作用の詳細：〇〇〇〇</p>
                </div>
                <div class="operation-btn-container">
                    <button class="operation-btn">この回答を印刷する</button>
                    <button class="operation-btn">削除</button>
                </div>
            </div>
            <div class="result">
                <div class="text">
                    <p>生年月日：1970-9-20 - 継続患者</p>
                    <p>回答日時：2025-1-31 15:01:01</p>
                    <p>・性別：〇</p>
                    <p>・受診理由：〇〇〇〇</p>
                    <p>・既往歴/現病歴：〇〇〇〇</p>
                    <p>・アレルギー：〇〇〇〇</p>
                    <p>・副作用の有無：〇</p>
                    <p>・副作用の詳細：〇〇〇〇</p>
                </div>
                <div class="operation-btn-container">
                    <button class="operation-btn">この回答を印刷する</button>
                    <button class="operation-btn">削除</button>
                </div>
            </div>
            <div class="result">
                <div class="text">
                    <p>生年月日：2017-7-10 - 新規患者</p>
                    <p>回答日時：2025-1-31 10:36:35</p>
                    <p>・氏名：〇〇</p>
                    <p>・フリガナ：〇〇</p>
                    <p>・住所：〇〇〇〇〇〇〇〇</p>
                    <p>・電話番号：〇〇〇〇</p>
                    <p>・性別：〇</p>
                    <p>・受診理由：〇〇〇〇</p>
                    <p>・既往歴/現病歴：〇〇〇〇</p>
                    <p>・アレルギー：〇〇〇〇</p>
                </div>
                <div class="operation-btn-container">
                    <button class="operation-btn">この回答を印刷する</button>
                    <button class="operation-btn">削除</button>
                </div>
            </div>
        </div>

    </main>

    <!-- <div id="footer"></div> -->

    <script>
        fetch("header.html")
            .then((response) => response.text())
            .then((data) => document.querySelector("#header").innerHTML = data);
        // fetch("footer.html")
        //     .then((response) => response.text())
        //     .then((data) => document.querySelector("#footer").innerHTML = data);
    </script>
</body>

</html>